* {
    background-image: radial-gradient(circle at 5%, #99b8ad, #afd1b1);

}

nav {
    /* display: inline-block!important; */
    display: inline-block;
    text-align: center;
    position: relative;
    font-size: smaller;
}

ul,
li {
    list-style-type: none;
    /* float: right; */
    padding: 10px;
    /* text-decoration: underline; */
    /* text-decoration-thickness: 5px;
    text-decoration-line: none; */
    color: var(--primary);
}

header {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #034e01;
}

.container {
    /* float: left; */
    display: block;
    padding-top: 20%;
    font-size: larger;

}

div.card,
.jovi,
img#jovi {
    float: right;
    /* display: block; */
}

.home {
    padding: 0;
    border: none;
    background: none;
}

ul.links, il.links, a {
    list-style: none;
    padding: 10px;
    color: var(--primary);
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .links {
        align-items: center;
        width: 200px;
    }

    img#jovi {
        width: 200px;
        height: 300px;
        align-items: center;
    }

    .container, p {
        align-content: center;
        text-align: center;
        width: 400px;
    }
}