* {
    background-image: 
            radial-gradient(ellipse at top, #99b8ad, transparent),
            radial-gradient(ellipse at bottom, #afd1b1, transparent);

}

nav {
    /* display: inline-block!important; */
    display: inline-block;
    text-align: center;
    position: relative;
    font-size: smaller;
}

ul,
li {
    list-style-type: none;
    float: right;
    padding: 10px;
    /* text-decoration: underline; */
    /* text-decoration-thickness: 5px;
    text-decoration-line: none; */
    color: var(--primary);
}

header {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #034e01;
}

.container {
    /* float: left; */
    display: block;
    padding-top: 20%;
    font-size: larger;

}

div.card,
.jovi,
img#jovi {
    float: right;
    /* display: block; */
}

.home {
    padding: 0;
    border: none;
    background: none;
}

section.links,
ul.links,
il.links,
a {
    list-style: none;
    padding: 10px;
    color: var(--primary);
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    display: inline-block;


}


@media screen and (max-width: 767px) {
    .links {
        align-items: center;
        width: 200px;
    }

    img#jovi {
        width: 200px;
        height: 300px;
        align-items: center;
    }

    .container,
    p {
        align-content: center;
        text-align: center;
        width: 400px;
    }
}

/* music player css */
.music-playlist{
    justify-content: center;
    padding: 15%;
}

h2 {
    padding: 5%;
    text-align: center;
}
/* .home{
    background-color: #8facf1;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500; */
    /* height: 40px; */
    /* line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  } */

.music-container {
    background: rgb(81, 108, 92);
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(159, 197, 232, 0.5);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
}

.img-container {
    position: relative;
    width: 110px;
}

.img-container::after {
    content: '';
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, 50%);
}

.img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;

    animation-play-state: paused;
}

.music-container.play .img-container img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: rgb(5, 44, 25);
    border: 0;
    color: #16537E;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-btn.action-btn-big {
    color: #16537E;
    font-size: 30px;
}

.action-btn:focus {
    outline: 0;
}

.music-info {
    background-color: rgba(217, 210, 233, 0.6);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
}

.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
}

.music-info h4 {
    margin: 0;
}

.progress-container {
    background: #8AA9BE;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: #3878b2;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}