* {
    background-color:darkslategray;
}

nav {
    /* display: inline-block!important; */
    display: inline-block;
    text-align: center;
    position: relative;
}

ul,li {
    list-style-type: none;
    float: right;
    padding: 10px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-line: none;
    color: var(--primary);
}

#cat, #final, #lake {
    width: 50%;
    height: 50%;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

#asiya, #player2{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}