* {
    background-color: black;
    font-family: 'Ruda', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
}

:root {
    --primary: #f8f8ff;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 7%;
}

#title {
    color: #f8f8ff;
    margin-left: auto;
    text-align: center;
    opacity: 20%;
    padding: 5%;
}

nav {
    /* display: inline-block!important; */
    display: inline-block;
    text-align: center;
    position: relative;
}

ul,li {
    list-style-type: none;
    float: right;
    padding: 10px;
    text-decoration: underline;
    /* text-decoration-thickness: 5px; */
    text-decoration-line: none;
    color: var(--primary);
}