* {
    background-color: rgb(255, 166, 1);
    font-family: 'Ruda', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
    background-image: url(../images/webpagev2.png);
    background-size: 150px;
}

:root {
    --primary: #f8f8ff;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 7%;
}

#title,
#location {
    color: #f8f8ff;
    margin-left: auto;
    text-align: center;
    opacity: 70%;
    padding: 1.5%;
}

nav {
    /* display: inline-block!important; */
    display: inline-block;
    text-align: center;
    position: relative;
}

ul,
li {
    list-style-type: none;
    float: right;
    padding: 10px;
    text-decoration: underline;
    /* text-decoration-thickness: 5px; */
    text-decoration-line: none;
    color: var(--primary);
}

header {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #9d62b5;
}